.center-block {
	float: none;
}
.text-white {
	color: white !important;
}
.bg-danger {
	background-color: #d9534f!important;
}
.bg-success {
	background-color: #5cb85c!important;
}
.bg-primary {
	background-color: #0275d8!important;
}
.bg-info {
	background-color: #5bc0de!important;
}
.bg-warning {
    background-color: #f0ad4e!important;
}